body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    flex-grow: 1;
}

img {
    width: 1200px;
    height: 250px;
} 

footer {
    border-top: 1px solid grey;
    padding: 8px;
    color: white;
    background-color: rgb(66, 60, 60);
    text-align: center;
}

a {
    font-weight: bold;
    margin-right: 40px;
}

/* 
.navbar-nav a:hover {
    font-size: 18px;
} */

.card {
    max-width: 25rem;
    height: 17rem;
    margin: 5px;
}

.card-body h6 {
    text-align: center;
    color: grey;
}

#news-update1, #news-update2 {
    margin: 20px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-weight: bold;
}

.heading {
    text-align: left;
    color: greenyellow;
}

.signup-form {
    text-align: left;
    color: skyblue;
}

.signin-form {
    text-align: right;
    margin-top: 40px;
}

.form-header {
    color: grey;
    font-weight: bold;
}